* {
  font-family: Arial, Helvetica, sans-serif;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: 10px auto;
  background-color: aliceblue;
}

header h1 {
  padding: 10px;
  text-align: center;
}

nav {
  background-color: lightskyblue;
  margin-bottom: 20px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
  color: black;
}

nav li:hover {
  background-color: aqua;
}

nav a {
  text-decoration: none;
  color: black;
}

p {
  line-height: 1.5;
  text-align: justify;
}

main {
  margin: 10px;
}

h2, h3 {
  margin: 10px 0;
}

.about img {
  height: 200px;
  display: inline-block;
}

table {
  display: inline-block;
  line-height: 20px;
  border-collapse: collapse;
  margin-right: 20px;
}

th, td {
  border: 1px solid black;
  padding: 4px;
}

td:last-child {
  text-align: right;
}

article {
  margin: 50px 0;
}

.curiosity-1 img {
  width: 25%;
  float: right;
}

.curiosity-1 p {
  width: 70%;
}